extends layout

block content
  div(id='content')
    h1= title
    table(class='news')
      for newsItem in newsItems
        tr(class='item')
          td(class='source-name')
            b #{newsItem.NewsSource.name}
          td(class='headline')
            a(href='#{newsItem.url}') #{newsItem.headline}
          td(class='from-now')
            span #{newsItem.fromNow}
    if (page * newsItemsPerPage) < count
      div(class='pagination')
        a(href='/#{page+1}') More
