extends layout

block content
  table(class='news')
    for newsItem in newsItems
      tr(class='item')
        td(class='headline')
          a(href='#{newsItem.url}') #{newsItem.headline}
        td(class='source-name')
          b #{newsItem.NewsSource.name}
        td(class='from-now')
          span #{newsItem.fromNow}
  if (page * newsItemsPerPage) < count
    div(class='pagination')
      a(href='/#{page+1}' rel='next') #{paginationTitle}
