doctype html
html
  head
    title= title
    meta(charset='utf-8')
    meta(name='language', content='#{getLocale()}')
    meta(http-equiv='refresh', content='300')
    meta(name='referrer', content='origin')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(property='og:title' content='#{title}')
    meta(property='og:type' content='website')
    meta(property='og:url' content='#{__("$HREF")}')
    meta(property='og:image' content='#{__("$HREF")}/images/logo.jpg')
    meta(property='og:description' content='#{__("Wire services for everyone")}')
    meta(property="og:locale" content="#{getLocale()}")
    meta(name='twitter:card' content='summary_large_image')
    meta(name='twitter:site' content='@r1b_news')
    meta(name='twitter:domain' content='#{__("$HREF")}')
    meta(name='twitter:image' content='#{__("$HREF")}/images/logo.jpg')
    meta(name='twitter:description' content='#{__("Wire services for everyone")}')

    each locale, name in locales
      link(rel='alternate' hreflang='#{name}' href='#{locale.$HREF}')
    link(rel='shortcut icon', type='image/x-icon', href='/favicon.ico')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
